@model IEnumerable<lab4_.Models.City>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cityId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.population)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.province)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.population)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.province)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.cityId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.cityId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.cityId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
